/* car 1  */

/* 미디어쿼리 375px 아이폰SE 까지  */

/* ********************max-width: 1500px*********
************* */
@media screen and (max-width: 1500px) {
    .cont {
        margin: 0 5vw;
    }
    div.poster {
        width: auto;
        background: url(../image/car1_movie_image.jpg) no-repeat center / 100% 100%;
    }
    .story p {
        font-size: 24px;
        line-height: 26px;
    }
}
/* ********************max-width: 1500px********************** */

/* ********************max-width: 1200px********************** */
@media screen and (max-width: 1200px) {
    article h3.cname {
        font-size: 32px;
        line-height: 34px;
    }
    .cont {
        display: block;
        margin: 0 5vw;
    }
    .sc1 .story p {
        font-size: 24px;
        line-height: 30px;
    }

    .sc2 .ani {
        margin-bottom: 14px;
    }
} /* ********************max-width: 1200px********************** */

/* ********************max-width: 1000px********************** */
@media screen and (max-width: 1000px) {
    .poster {
        gap: 120px;
    }

    .sc2 .ani {
        width: auto;
    }

    /* .cont {
        height: 100%; /* 질문8 
    }
 */
} /* ********************max-width: 1000px********************** */

/* ********************max-width: 850px********************** */
@media screen and (max-width: 850px) {
    @keyframes car2 {
        100% {
            transform: translateX(550px);
            /* color: yellowgreen; */
            color: rgb(218, 12, 233);
        }
    }
} /* ********************max-width: 850px********************** */

/* ********************max-width: 780px********************** */
@media screen and (max-width: 780px) {
    h2 {
        font-size: 24px;
        padding: 20px;
    }

    .sc2 h3 {
        font-size: 24px;
    }

    .sc3 {
        min-height: 650px;
    }

    .sc3 .cube {
        display: inline-block;
        margin: 0 5vw 5vw;
    }

    .sc3 nav {
        text-align: center;
    }

    .sc3 nav ul {
        display: flex;
    }
    .sc3 nav li {
        margin: 0;
        padding: 0 14px;
    }

    .sc3 nav li a {
        height: 100%;
        font-size: 20px;
        line-height: 20px;
    }

    .sc3 nav li:first-child {
        padding-top: 10px;
    }

    .carchac {
        width: 40%;
        margin: 4vh auto;
    }

    .squ {
        width: 40%;
        height: 100%;
        perspective: 2000vw;
        transform-style: preserve-3d;
    }

    .sc3 .anicube {
        height: 220px;
        gap: 8px;
    }
}
/* ********************max-width: 780px********************** */
/********************max-width: 730px********************** */
@media screen and (max-width: 730px) {
    .sc2 .ani {
        display: none;
    }

    /* 푸터 */
    #info > .info {
        flex-direction: column;
    }
    #info .copyLogo {
        box-sizing: border-box;
    }
    #info .copyLogo img {
        height: 5vh;
        vertical-align: middle;
    }
    #info address {
        font-size: 16px;
        line-height: 20px;
    }
}
/********************max-width: 730px********************** */

/********************max-width: 650px********************** */
@media screen and (max-width: 650px) {
    .cont {
        min-height: auto;
    }
    .sc0 {
        height: auto;
    }
    main .title {
        font-size: 20px;
    }

    .sc1 .story p {
        font-size: 16px;
        line-height: 24px;
    }
    .sc3 nav li a {
        font-size: 14px;
        line-height: 14px;
    }
}
/********************max-width: 650px********************** */
/********************max-width: 500px********************** */
@media screen and (max-width: 500px) {
    main .title {
        font-size: 16px;
    }
    article h3.cname {
        font-size: 20px;
    }
}
/********************max-width: 500px********************** */
