@charset "utf-8";

/* 웹폰트, 공용클래스 , 레이아웃*/

@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');

/* header -> font-family: 'Overlock', cursive; */
/* main-> font-family: 'Georama', sans-serif; */
/* footer ->  font-family: 'Nanum Gothic', sans-serif; */

/* 전체 페이지 보이는 화면 기준  */
/* 전체 레이아웃 */
html,
body {
    /* 포인트 */
    /* 가로스크롤 없애기 위해  */
    overflow-x: hidden;
}

/* 1. 상단 영역 레이아웃 */

.top {
    min-height: 76px;
    /*   border-bottom: 1px solid black; */
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Overlock', sans-serif;
}

/* 2. 메인 영역  레이아웃  */

.cont {
    margin: 0 auto;
}

/* 3. 하단영역 레이아웃 */
/* 1200 보다 크면 auto로 가로크기가 전환되어 가로스크롤이 안생기게 됨! */

footer.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100px;
    background-color: #222;
    font-size: 1.3rem;
    font-family: 'Nanum Gothic', sans-serif;
    color: #ffffffa9;
}

footer .foot {
    /* flex: 1; */
    /* max-width: 1200px; */
    /* 질문 
    플렉스 1이라고 한 곳에 max-width 효과 가 있나요? */
}

footer address {
    font-style: normal;
}

/* 글자 숨김 클래스(IR배경이미지 설명 등  숨기기) */
.ir {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}
