@charset "utf-8";

@import url(reset.css);
@import url(core.css);
@import url(common.css);

.bx1 {
    display: flex;
    height: calc(100vh - 77px);
}

.bx1 a {
    flex: 1;
}

.abc {
    background: url(../img/ABC쥬스.jpg) no-repeat top/100% 100%;
}

.yuja {
    background: url(../img/yujabanana.jpg) no-repeat top/100% 100%;
}

.bga {
    height: 100vh;
    background: #ee6518 100%;
}

.bgb {
    height: 100vh;
    background: #fbcc1b 100%;
}

.bgc {
    height: 100vh;
    background: #f0edcc 100%;
}
.bgcp {
    height: 300vh;
    background: #f0edcc 100%;
}

.bgcp img {
    width: 20%;
}

.bgct {
    height: 100vh;
    background: #02343f 100%;
}

.bgct h4 {
    font-size: 10vh;
}
.bgct p {
    font-size: 8vh;
}
