/* car 1  */

/* ********************max-width: 1500px********************** */
@media screen and (max-width: 1500px) {
    div.poster {
        height: 100%;
        background: url(../image/car1_movie_image.jpg) no-repeat center / 100% 100%;
    }
    .story p {
        font-size: 1.4rem;
        line-height: 1.4rem;
    }
} /* ********************max-width: 1500px********************** */

/* ********************max-width: 1200px********************** */
@media screen and (max-width: 1200px) {
    article h3.cname {
        font-size: 2em;
        line-height: 2.4rem;
    }
} /* ********************max-width: 1200px********************** */

/* ********************max-width: 1000px********************** */
@media screen and (max-width: 1000px) {
    .poster {
        gap: 120px;
    }
    .cont {
        height: 100%;
    }
    .story p {
        /* https://velog.io/@april_5/CSS-ellipsis-%EB%A7%90%EC%A4%84%EC%9E%84-%EC%B2%98%EB%A6%AC%ED%95%98%EA%B8%B0 */
        /*  height: 600px;
        overflow: hidden;
        /* white-space: nowrap; */
        /* text-overflow: ellipsis; */
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        word-break: keep-all;
    }
} /* ********************max-width: 1000px********************** */

/* ********************max-width: 780px********************** */
@media screen and (max-width: 1200px) {
    article h3.cname {
        font-size: 2em;
        line-height: 2.4rem;
    }
} /* ********************max-width: 780px********************** */
